<h1 class="mat-display-1 logo-text text-center">𝙲𝚊𝚕𝚘𝚛𝚒𝚗𝚎𝚜 𝙰𝚠𝚊𝚛𝚎𝚗𝚎𝚜𝚜</h1>
<div class="text-center">
  <h3>Reset Password</h3>

  <div class="d-flex justify-content-center">
    <p *ngFor="let alert of authService.alerts">
      <ngb-alert [type]="alert.type" (close)="authService.close(alert)">
        {{ alert.message }}
      </ngb-alert>
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <p *ngFor="let info of authService.infos">
      <ngb-alert [type]="info.type" (close)="authService.closeInfo(info)">
        {{ info.message }}
      </ngb-alert>
    </p>
  </div>

  <mat-card class="card-content">
    <p class="lato">
      Enter your user account's verified email address and we will send you a
      password reset link.
    </p>
    <br />
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        class="formControl"
        placeholder="Email Address"
        #passwordResetEmail
        required
      />
    </mat-form-field>

    <button
      mat-raised-button
      type="button"
      color="primary"
      value="Reset Password"
      (click)="authService.ForgotPassword(passwordResetEmail.value)"
    >
      Send password reset email
    </button>
  </mat-card>
  <br />

  <mat-card class="footer">
    <span>
      <a mat-button color="primary" routerLink="/sign-in">
        Go back to Log In
      </a>
    </span>
  </mat-card>
</div>
