.card-content {
  display:inline-block;
  max-width: 400px;
  text-align:center;
  padding: 40px;
}

.lato {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
}


.footer {
  display:inline-block;
  max-width: 400px;
  text-align:center;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 20px;
}
