


.padding-top {
  padding-top: 60px;
}

.fake-link {
    color: #3F51C6;
    text-decoration: underline;
    cursor: pointer;
    text-decoration:none;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color:rgb(241,241,241);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #3F51B5;
  text-align: center;
  /* padding: 7px 8px; */
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3F51B5;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
