<div class="topnav">
  <a mat-button href="#news">About</a>
  <a mat-button (click)="openSubscriptionDialog()">Remind Me</a>
  <div class="topnav-right">
    <a mat-button (click)="openDownloadDialog()">Download All Data</a>
    <a mat-button (click)="authService.signOut()">Logout</a>
  </div>
</div>

<div class="text-center padding-top">
  <h1 class="mat-display-1 logo-text text-center">𝙲𝚊𝚕𝚘𝚛𝚒𝚗𝚎𝚜 𝙰𝚠𝚊𝚛𝚎𝚗𝚎𝚜𝚜</h1>

  <app-calories-input></app-calories-input>

  <mat-tab-group>
    <mat-tab label="Today">
      <ng-template matTabContent>
        <app-calories-table-today></app-calories-table-today>
      </ng-template>
    </mat-tab>
    <mat-tab label="Chart 10 Days">
      <ng-template matTabContent>
        <app-vertical-bar-chart></app-vertical-bar-chart>
      </ng-template>
    </mat-tab>

    <mat-tab label="All Record">
      <ng-template matTabContent>
        <app-calories-table></app-calories-table>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <br />
  <br />
  <br />
</div>
