/* .container .mat-form-field + .mat-form-field {
  margin-left: 8px;
} */

.mat-dialog-actions{
  /* margin-left: 8px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.mat-raised-button {
  width: 200px;
  /* padding: 20px; */
  margin: 10px;
}

