<div class="mat-elevation-z8">
  <mat-table
    [dataSource]="dataSource"
    matSort
    #sortTable="matSort"
    (matSortChange)="sortByDateSelected($event)"
    >

    <ng-container matColumnDef="Calories">
      <mat-header-cell  *matHeaderCellDef > Calories </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let dataSource">
        {{ dataSource.payload.doc.data().caloriesIntake }}
      </mat-cell>
    </ng-container>



    <ng-container matColumnDef="MealType">
      <mat-header-cell  *matHeaderCellDef > Meal Type </mat-header-cell>
      <mat-cell mat-cell *matCellDef="let dataSource">
        {{ dataSource.payload.doc.data().mealType }}
      </mat-cell>
    </ng-container>

    <!--
      3 mode for sort: 'desc', 'asc' and ''
      mat-sort-header: to enable sort in this column
      disableClear: set 'true' to disable '' mode
      start: when component load, which mode shall begin with -->
    <ng-container matColumnDef="dateSelected">
      <mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      disableClear="true"
      start="desc"
      >
      Date
      </mat-header-cell>
      <mat-cell *matCellDef="let dataSource">
        {{ convertTimestampToDate(dataSource.payload.doc.data().dateSelected) | date }}

        <span
          (click)="deleteRow(dataSource)"
        >

          <i class="material-icons">delete_outline</i>
        </span>
      </mat-cell>

    </ng-container>


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons>
  </mat-paginator>

</div>
